/*common*/
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(209, 208, 208);
    font-family: Arial, Helvetica, sans-serif;
    
}
header {
    height: 60px;
    padding-top:10px ;
    margin-bottom: 30px;
    background-color: white;

}   
/*bottons*/
.bottons {
    padding: 20px;
}
.btn {
    text-decoration: none;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 3px;
    
}

.btn-blue {
        background-color: rgb(0, 153, 255);
        color: white;
        border: rgb(0, 153, 255);
    
    
}
 .btn-disabled {
     color: gray;

/*main*/
 }
 main{
     text-align: center;
     line-height: 2;
 }
 .container {
    width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    height: 800px;
    text-align: left;

}
/*list*/
.list {
    margin: 30px 40px;
}
ul {
    list-style: none;
}
/*tags*/
.blue-btn {
    font-size: x-small;
    border: rgb(0, 153, 255);
    color: white;
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    padding: 5px;
}
.purple-btn {
    font-size: x-small;
    border: purple;
    color: white;
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
}
.acqva-btn {
    font-size: x-small;
    border: aqua;
    color: white;
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
}
.orange-btn {
    font-size: x-small;
    border: orangered;
    color: white;
    background-color: orangered;
    border-radius: 10px;
    padding: 5px;
}
.pink-btn {
    font-size: x-small;
    border: #C71585;
    color: white;
    background-color: #C71585;
    border-radius: 10px;
    padding: 5px;
}
.green-btn {
    font-size: x-small;
    border: green;
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 5px;
}
/*circles*/
.circle {
    border: 1px solid lightseagreen;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: lightseagreen;
}
.circle2 {
    border: 1px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: red;
}